.btn{
 border-radius: 0px;   
}
.action-btn{
    // border-radius: 0px;
    border-radius:4px 0px 0px 4px ;
    border-right: 1px solid #fff;
}
.btn-group > button{
    border-radius:0px 4px 4px 0px ;
}