<nav ngbNav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="/tabular">Tabular Report</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/charts">Charting Report</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pivot">Pivot Table</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/filters">Filters</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/customization">Customization</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/datasource">DataSource</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/designer">Designer</a></li> -->
    </ul>

</nav>
<hr>
<router-outlet></router-outlet>